{% extends 'layouts/base.html' %}

{% block title %}Home Page{% endblock  %}

{% block style %}
<style>

    h1{
        font-size: 3rem;
    }

</style>
{% endblock  %}

{% block content %}
    <h1>Home</h1><br><br>
    {% if user.is_authenticated %}
        <h4>Olá {{user.name}}!</h4>
        <h6>Bem-vindo!</h6><br><br>
    {% endif %}
    <p>Página 1</p>
    <p><i class="fa fa-user"></i></p>
{% endblock %}

{% block script %}
    <script>
        console.log('meu teste')
    </script>
{% endblock %}